body { font-family: 'Open Sans', sans-serif; 
    padding: 0; 
    margin: 0; }

h1, h2, h3, h4, h5, h6 { 
    color: #ae203c; 
}

p { font-size: 10pt; 
    line-height: 18pt; 
}

a { font-size: 10pt; line-height: 18pt; 
    color: #ae203c;
    text-decoration: none; }

.content { 
    max-width: 800px; 
    margin: 10% auto; 
    text-align: center;
}

a.btn{
    display: block;
    margin: 0px auto; 
    border: 1px solid #ae203c;
    border-radius: 5%; 
    padding:10px 20px; 
    color: #ae203c; 
    width:100px; 
    transition:.4s;
}

a.btn:hover
{ background:#ae203c;
  color: antiquewhite;
}

.popup { 
	position: fixed; 
	top:0;
	left: 0; 
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.3);
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in; 
	transition: opacity 400ms ease-in;
	pointer-events: none;
	/*z-index: 1000 !important;*/ 
	padding:0;
}

.popup:target { 
    opacity: 1; 
    pointer-events: auto;
}

.popup > div {
    position: relative; 
    max-width: 580px;  
    margin: 10% auto;  
    z-index: 1000;
    border:5px dashed #ae203c; 
    background: #fff; 
}

a.close { 
    position: absolute;
    top: -15px; 
    left: -15px; 
    text-align:center; 
    border: 1px solid #ae203c; 
    width:30px; 
    height:30px; 
    line-height:30px;
    border-radius: 50%;
    color: #fff; 
    z-index: 1001 !important;
    background-color: #ae203c;
    }

a.close:hover { 
    cursor: pointer;
}
video{ 
    width:100%;
     display:block;
    }

@media screen and (min-width:580px)
{  
    
    .wrapper{
        max-width: 800px;
        margin: 10% auto;
    }

    .content:nth-of-type(1){
    max-width: 400px;
    float: left;
    }

    .content:nth-of-type(2){
        max-width: 400px;
        float: right;
        }
}


@media screen and (max-width:580px)
{
.popup > div {margin: 10% 1em;}
	}